[Unit]
Description=ula-client-manager
After=ula-node.service

[Service]
Type=simple
User=agl-driver
ExecStart=/usr/bin/ula-client-manager
TimeoutStopSec=10
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
